h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

h1 {
    color: blueviolet;
}

h2 {
    color: yellowgreen;
}

body {
    background-color: coral;
}

img {
    max-width: 20%;
    height: 10%;
}